body#grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 124px);
  gap: 10px;
  margin: 0;
  padding: 0;
  background: black;
}
body#grid > div {
  background-color: forestgreen;
  color: white;
  font-size: 2em;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 10px;
  box-sizing: border-box;
}
body#grid > div:nth-child(1)  { grid-column: span 4 / auto; } 
body#grid > div:nth-child(2)  { grid-row: span 4 / auto; } 
body#grid > div:nth-child(4)  { grid-column: span 2 / auto; }
body#grid > div:nth-child(5)  { grid-column: span 2 / auto; } 
body#grid > div:nth-child(10) { grid-column: span 3 / auto; }
